.dark .list-group-item{border-color: #444;background:#222}
.dark .list-group-item.active{background:#c49a68;border-color:#a7865f}
.novideos{text-transform: uppercase;text-align: center;border-bottom:0!important;padding-top: 55%!important;letter-spacing:2px}

.btn-warning {
    color: #fff;
    background-color: #c49a68;
    border-color: #c49a68;
}
.dark .table-striped>tbody>tr>td{border-color:#222;color:#fff}
.dark code{color: #c49a68;background-color: #36333d;}
.dark a:not(.btn){color: #c49a68;}




.dark.form-control,
.dark .form-control,
.dark.form-select,
.dark .form-select
 {
    background-color: #2b3c4b;
    border: 1px solid #2b3c4b;
    color: #fff;
}

.dark.form-control:focus,
.dark .form-control:focus,
.dark.form-select:focus,
.dark .form-select:focus
{
    color: #ddd;
    background-color: #2b3c4b;
    border: 1px solid #222;
    box-shadow: none;
}

.dark .slider-selection {
    background: #375182;
}
.dark .slider-handle {
    background: #375182;
}
.dark .slider-track {
    background: #333;
}

.progress {
    height: 5px;
    background: #1e2b37;
}
