<main class="container page-tab pt-3" id="tab-helpWindow">
    <div style="" class="card form-group-group p-3 bg-dark mb-3 shadow green">
         <h4 class="form-section-header  cursor-pointer mb-3 pb-3 text-white border-bottom-dotted border-color-green "><%- config.poweredByShinobi %></h4>
        <div class="card-body text-white">
            <div class="row">
                <% [
                    {
                        title: "New to Shinobi?",
                        info: `Try reading over some of these links to get yourself started.`,
                        buttons: [
                            {
                                icon: 'newspaper-o',
                                color: 'default',
                                text: 'After Installation Guides',
                                href: 'https://shinobi.video/docs/configure',
                                class: ''
                            },
                            {
                                icon: 'plus',
                                color: 'default',
                                text: 'Adding an H.264 Camera',
                                href: 'https://shinobi.video/docs/configure#content-adding-an-h264h265-camera',
                                class: ''
                            },
                            {
                                icon: 'plus',
                                color: 'default',
                                text: 'Adding an MJPEG Camera',
                                href: 'https://shinobi.video/articles/2018-09-19-how-to-add-an-mjpeg-camera',
                                class: ''
                            },
                            {
                                icon: 'gears',
                                color: 'default',
                                text: 'RTSP Camera Optimization',
                                href: 'https://shinobi.video/articles/2017-07-29-how-i-optimized-my-rtsp-camera',
                                class: ''
                            },
                            {
                                icon: 'comments-o',
                                color: 'info',
                                text: 'Community Chat',
                                href: 'https://discord.gg/ehRd8Zz',
                                class: ''
                            },
                            {
                                icon: 'reddit',
                                color: 'info',
                                text: 'Forum on Reddit',
                                href: 'https://www.reddit.com/r/ShinobiCCTV',
                                class: ''
                            },
                            {
                                icon: 'file-o',
                                color: 'primary',
                                text: 'Documentation',
                                href: 'http://shinobi.video/docs',
                                class: ''
                            }
                        ]
                    },
                    {
                        bigIcon: "smile-o",
                        title: "It's a proven fact",
                        info: `Generosity makes you a happier person, please consider supporting the development.`,
                        buttons: [
                            {
                                icon: 'share-square-o',
                                color: 'default',
                                text: 'ShinobiShop Subscriptions',
                                href: 'https://licenses.shinobi.video/subscribe',
                                class: ''
                            },
                            {
                                icon: 'paypal',
                                color: 'default',
                                text: 'Donate by PayPal',
                                href: 'https://www.paypal.me/ShinobiCCTV',
                                class: ''
                            },
                            {
                                icon: 'bank',
                                color: 'default',
                                text: 'University of Zurich (UZH)',
                                href: 'https://www.zora.uzh.ch/id/eprint/139275/',
                                class: ''
                            },
                        ]
                    },
                    // {
                    //     title: "ShinobiHub",
                    //     info: `Explore and Contribute to the community of Shinobi all in one place.`,
                    //     buttons: [
                    //         {
                    //             icon: 'newspaper-o',
                    //             color: 'primary',
                    //             text: 'Read Articles',
                    //             href: 'https://hub.shinobi.video/articles',
                    //             class: ''
                    //         },
                    //         {
                    //             icon: 'search',
                    //             color: 'success',
                    //             text: 'Explore Configurations',
                    //             href: 'https://hub.shinobi.video/explore',
                    //             class: ''
                    //         },
                    //         {
                    //             icon: 'lightbulb-o',
                    //             color: 'info',
                    //             text: 'View Suggestions',
                    //             href: 'https://hub.shinobi.video/suggestions',
                    //             class: ''
                    //         },
                    //     ]
                    // },
                    {
                        title: "Shinobi Mobile",
                        info: `Your subscription key can unlock features for <a href="https://cdn.shinobi.video/installers/ShinobiMobile/" target="_blank"><b>Shinobi Mobile</b></a> running on iOS and Android today!`,
                        buttons: [
                            {
                                icon: 'star',
                                color: 'success',
                                text: 'Join Public Beta',
                                href: 'https://shinobi.video/mobile',
                                class: ''
                            },
                            {
                                icon: 'comments-o',
                                color: 'primary',
                                text: '<b>#mobile-client</b> Chat',
                                href: 'https://discord.gg/ehRd8Zz',
                                class: ''
                            },
                            // {
                            //     icon: 'cube',
                            //     color: 'default',
                            //     text: lang[`Don't Show for 1 Week`],
                            //     class: 'hide_donate',
                            // },
                        ]
                    },
                    // {
                    //     title: "Shinobi Dashcam",
                    //     info: `<a href="https://cdn.shinobi.video/installers/Dashcam/" target="_blank"><b>Shinobi Dashcam</b></a> runs on iOS and Android, Subscribe to a Shinobi Mobile license to unlock extended features!`,
                    //     buttons: [
                    //         {
                    //             icon: 'star',
                    //             color: 'success',
                    //             text: 'Join Public Beta',
                    //             href: 'https://cdn.shinobi.video/installers/Dashcam/',
                    //             class: ''
                    //         },
                    //         {
                    //             icon: 'comments-o',
                    //             color: 'primary',
                    //             text: '<b>#dashcam</b> Chat',
                    //             href: 'https://discord.gg/D3cHZ3u',
                    //             class: ''
                    //         },
                    //         // {
                    //         //     icon: 'cube',
                    //         //     color: 'default',
                    //         //     text: lang[`Don't Show for 1 Week`],
                    //         //     class: 'hide_donate',
                    //         // },
                    //     ]
                    // },
                    // {
                    //     title: "Byaku",
                    //     info: `Byaku is a Neural Net Training tool that allows you to build Object Detection sets. <a href="https://cdn.shinobi.video/installers/Byaku/" target="_blank"><b>Byaku</b></a> runs on Linux. Subscribe to use features like automatically downloading thousands of images already pre-annotated and ready for you to train.`,
                    //     buttons: [
                    //         {
                    //             icon: 'star',
                    //             color: 'success',
                    //             text: 'Join Public Beta',
                    //             href: 'https://cdn.shinobi.video/installers/Byaku/',
                    //             class: ''
                    //         },
                    //         {
                    //             icon: 'comments-o',
                    //             color: 'primary',
                    //             text: '<b>#byaku</b> Chat',
                    //             href: 'https://discord.gg/3XA9RNP',
                    //             class: ''
                    //         },
                    //         // {
                    //         //     icon: 'cube',
                    //         //     color: 'default',
                    //         //     text: lang[`Don't Show for 1 Week`],
                    //         //     class: 'hide_donate',
                    //         // },
                    //     ]
                    // },
                    {
                        title: "Support the Development",
                        info: `Subscribe to any of the following to boost development! Once subscribed put your Subscription ID in at the Super user panel, then restart Shinobi to Activate your installation, thanks! <i class="fa fa-smile-o"></i>`,
                        buttons: [
                            {
                                icon: 'share-square-o',
                                color: 'default',
                                text: 'Shinobi Mobile License ($5/m)',
                                href: 'https://licenses.shinobi.video/subscribe?planSubscribe=plan_G31AZ9mknNCa6z',
                                class: ''
                            },
                            {
                                icon: 'share-square-o',
                                color: 'default',
                                text: 'Tiny Support Subscription ($10/m)',
                                href: 'https://licenses.shinobi.video/subscribe?planSubscribe=plan_G42jNgIqXaWmIC',
                                class: ''
                            },
                            {
                                icon: 'share-square-o',
                                color: 'default',
                                text: 'Shinobi Pro License ($75/m)',
                                href: 'https://licenses.shinobi.video/subscribe?planSubscribe=plan_G3LGdNwA8lSmQy',
                                class: ''
                            },
                        ]
                    },
                    {
                        title: "Donations, One-Time Boost",
                        info: `Sometimes a subscription isn't practical for people. In which case you may show support through a PayPal donation. And as a thank you for doing so your <b>PayPal Transaction ID</b> can be used as a <code>subscriptionId</code> in your Shinobi configuration file. <br><br>Each 5 USD/EUR or 7 CAD will provide one month of activated usage. <i>Meaning, a $20 USD donation today makes this popup go away (or activates the mobile app) for 4 months.</i>`,
                        width: 12,
                        buttons: [
                            {
                                icon: 'paypal',
                                color: 'default',
                                text: 'Donate by PayPal',
                                href: 'https://www.paypal.me/ShinobiCCTV',
                                class: ''
                            },
                        ]
                    },
                ].forEach((promo) => { %>
                    <div class="col-md-<%- promo.width || '6' %>  mb-3">
                        <div class="helpquote" style="font-size:10pt;padding: 10px 20px;border-left: 5px solid #eee;">
                            <%- promo.bigIcon ? `<div style="margin-bottom:15px;text-align:center"><i class="fa fa-${promo.bigIcon} fa-5x"></i></div>` : '' %>
                            <%- promo.title ? `<h4>${promo.title}</h4>` : '' %>
                            <p><%- promo.info %></p>
                            <% if(promo.buttons) { %>
                                <div style="margin-top:5px;">
                                    <% promo.buttons.forEach((button) => { %>
                                        <a style="margin-bottom:4px" <%- button.href ? `href="${button.href}"` : '' %> target="_blank" class="d-flex flex-row btn btn-sm btn-block btn-<%- button.color %> <%- button.class %>">
                                            <div><i class="fa fa-<%- button.icon %>" aria-hidden="true"></i></div>
                                            <div class="flex-grow-1 text-center"><%- button.text %></div>
                                        </a>
                                    <% }) %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <style>
        .blockquoteInHelp:before,.blockquoteInHelp:after{
            display:none;
        }
    </style>
    <script>userHasSubscribed = <%- !!config.userHasSubscribed %>;</script>
    <script src="<%-window.libURL%>assets/js/bs5.help.js"></script>
</main>
